.grades-card {
    position: relative;
    transition: all 0.3s;
    width: 100%;
    height: calc(100vh - 110px);
    overflow: auto;
    padding: 25px;
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
    scrollbar-width: none;
    /* Firefox */
}

.grades-card::-webkit-scrollbar {
    display: none;
    /* Safari and Chrome */
}

.grades-card legend {
    font-size: 22px;
    display: block;
    width: 100%;
    padding: 0;
    margin-bottom: 20px;
    line-height: 40px;
    color: var(--main-color);
    border: 0;
    font-family: 'Mulish', sans-serif;
    font-weight: bold;
}

table {
    overflow: auto;
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

table thead td {
    font-weight: 600;
    font-size: 16px;
    white-space: nowrap;
    color: var(--main-color);
}

.grades-card table tr {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    font-size: 14px;
}

.grades-card table tbody tr:last-child {
    border-bottom: none;
}

.grades-card table tbody tr:hover {
    transform: translateY(-1px);
    transition: 0.2s;
    background-color: #f8f8f8;
}

.grades-card a:hover {
    color: var(--main-color);
    cursor: pointer;
}

.grades-card table tr td a:after {
    display: block;
    content: '';
    border-bottom: solid 1px var(--main-color);
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
}

.grades-card table tr td a:hover:after {
    transform: scaleX(1);
}

.grades-card table tr td {
    padding: 9px 5px;
}

.grades-card table tr td {
    text-align: center;
}

.grades-card table tr td:first-child {
    text-align: left;
}

.grades-card table tr td {
    text-align: center;
}

.grades-card table tbody tr:last-child {
    font-weight: 600;
    color: var(--main-color);
    font-size: 16px;
}

.grades-card table tbody tr:last-child:hover {
    background-color: #fff;
    cursor: default;
}

#send-tchr-msg{
    background-image: none;
    width: 60%;
    margin: 20px;
    font-size: smaller;
    font-weight: 500;
}

.no-grades {
    font-weight: 500;
    color: var(--main-color);
    font-size: 18px;
}

.status {
    position: relative;
    text-align: center;
    padding: 2px 4px;
    color: white;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 1px;
    white-space: nowrap;
}

.excellent {
    background: #8de02c;
}

.good {
    background: #f9ca3f;
}

.fair {
    background: rgb(248, 39, 39);
}

.poor {
    background-color: rgb(177, 22, 22);
}

.very-good {
    background: #1795ce;
}

a .department {
    font-size: 13px;
    color: #67676a;
    padding-left: 10px;
    position: relative;
    display: inline-block;
}

a #tchr-img {
    border-radius: 0%;
}

#tchr-info legend {
    margin-bottom: 0;
}

#tchr-info dt {
    width: 70px;
}

#tchr-info dd {
    margin-left: 80px;
}

#tchr-info img {
    box-shadow: 0 0.1rem 0.5rem 0 rgba(58, 59, 69, 0.30)!important;
    margin: 25px;
    width: 180px;
    height: 180px;
    border-radius: 5px;
}

#tchr-info .back-icon {
    display: none;
    margin-left: 20px;
    cursor: pointer;
    font-size: 22px;
}

#tchr-info .hr-group {
    justify-content: space-between;
    color: var(--main-color);
    border-bottom: 1px solid #e5e5e5;
    font-weight: 600;
    font-size: large;
}

#tchr-info i {
    font-size: larger;
}

@media (max-width: 1000px) {
    .grades .box {
        max-width: none;
        min-width: 300px;
    }
    #tchr-info .back-icon {
        display: block;
    }
}