.msg-cntr .box {
    display: block;
    grid-gap: 0px;
    margin: auto;
    min-width: 750px;
}

.msg-cntr .box .card {
    cursor: default;
}

.user-box {
    min-width: 300px;
    width: 400px;
    height: 79vh;
    border-right: 2px solid #ccc;
    position: relative;
    transition: 0.5s;
    padding: 15px;
}

.msg-box {
    position: relative;
    min-width: 400px;
    width: 100%;
    max-width: calc(100% - 400px);
    transition: 0.5s;
    padding: 15px;
    height: 80vh;
}

.msg-box .vr-group{
    justify-content: center;
    height: 100%;
}

.msg-box .vr-group i{
    color: var(--main-color);
    font-size: 60px;
    text-shadow: 0 0 5px;
}

.msg-box .vr-group .text{
    color: var(--main-color);
    font-size: 22px;
    white-space: nowrap;
    margin-top: 10px;
    text-shadow: 0 0px 2px 2px rgb(0 0 0 / 3%);
}

.msg-cntr .hr-group {
    justify-content: left;
}

.user-box .search {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.user-box .search .text {
    font-size: 17px;
    color: var(--main-color);
    font-weight: 500;
    white-space: nowrap;
}

.user-box .search input {
    position: absolute;
    height: 40px;
    width: calc(100% - 50px);
    font-size: 16px;
    padding: 0 15px;
    border: 1px solid #e6e6e6;
    outline: none;
    border-radius: 5px 0 0 5px;
    opacity: 0;
    color: rgb(146, 146, 146);
    pointer-events: none;
    transition: all 0.3s ease;
}

.user-box .search input.show {
    opacity: 1;
    pointer-events: auto;
}

.user-box .search button {
    position: relative;
    z-index: 1;
    width: 43px;
    height: 40px;
    font-size: 18px;
    cursor: pointer;
    border: none;
    background: #fff;
    color: var(--main-color);
    outline: none;
    border-radius: 0 5px 5px 0;
    transition: all 0.3s ease;
}

.user-box .search button.active {
    background: var(--main-color);
    color: #fff;
}

.search button.active i::before {
    content: '\f00d';
}

.users-list {
    max-height: 400px;
    overflow-y: auto;
}

.users-list::-webkit-scrollbar {
    width: 0px;
}

.users-list .content {
    display: flex;
    align-items: center;
}

.users-list .content .details {
    color: rgb(66, 66, 66);
    margin-left: 20px;
}

.users-list .details span {
    font-size: 16px;
    font-weight: 500;
    white-space: nowrap;
}

.users-list a {
    padding: 0px 15px 13px 3px;
    border-bottom-color: #f1f1f1;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #e6e6e6;
    justify-content: space-between;
    text-decoration: none;
    cursor: pointer;
}

.users-list a:last-child {
    margin-bottom: 0px;
    border-bottom: none;
}

.users-list a img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.users-list a .details p {
    color: #67676a;
    font-size: 13px;
}

.users-list a .status-dot {
    font-size: 12px;
    color: #468669;
    padding-left: 10px;
    position: relative;
    display: inline-block;
}

.users-list a .status-dot.offline {
    color: #ababab;
}

#usr-not-found-err {
    display: none;
}

.status-dot .status-text {
    visibility: hidden;
    white-space: nowrap;
    color: #67676a;
    text-align: center;
    padding: 2px 0;
    position: absolute;
    z-index: 100;
    top: -90%;
    left: -15%;
}

.status-dot:hover .status-text {
    visibility: visible;
}


/*Chat area style*/

.chat-area {
    padding: 0 50px;
    height: 100%;
    /* width: 100%; */
}

.chat-area header {
    display: flex;
    align-items: center;
    padding-bottom: 15px;
}

.chat-area header .back-icon {
    color: var(--main-color);
    font-size: 24px;
    position: absolute;
    right: 65px;
    cursor: pointer;
}

.chat-area header img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-right: 15px;
}

.chat-area header .details span {
    font-size: 17px;
    font-weight: 500;
}

.chat-area header .details p {
    font-size: 14px;
    color: #67676a;
}

.chat-box {
    position: relative;
    min-height: calc(100% - 130px);
    max-height:  calc(100% - 130px);
    overflow-y: auto;
    padding: 10px 20px 20px 20px;
    background: #f8f8f8;
    border-radius: 5px;
    box-shadow: inset 0 32px 32px -32px rgb(0 0 0 / 5%), inset 0 -32px 32px -32px rgb(0 0 0 / 5%);
}

.chat-box::-webkit-scrollbar {
    width: 0px;
}

.chat-box .text {
    position: absolute;
    top: 45%;
    left: 50%;
    width: calc(100% - 50px);
    text-align: center;
    color: #333;
    transform: translate(-50%, -50%);
}

.chat-box .chat {
    margin: 15px 0;
}

.chat-box .chat p {
    word-wrap: break-word;
    font-size: 14px;
    padding: 8px 16px;
    box-shadow: 0 0 32px rgb(0 0 0 / 8%), 0rem 16px 16px -16px rgb(0 0 0 / 10%);
}

.chat-box .outgoing {
    display: flex;
}

.chat-box .outgoing .details {
    margin-left: auto;
    max-width: calc(100% - 250px);
}

.outgoing .details p {
    background: var(--main-color);
    color: #fff;
    border-radius: 18px 18px 0 18px;
}

.chat-box .incoming {
    display: flex;
    align-items: flex-end;
}

.chat-box .incoming .details {
    margin-right: auto;
    margin-left: 10px;
    max-width: calc(100% - 250px);
}

.incoming .details p {
    background: #fff;
    color: #333;
    border-radius: 18px 18px 18px 0;
}

.typing-area {
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

.typing-area input {
    height: 45px;
    width: calc(100% - 50px);
    font-size: 16px;
    padding: 0 13px;
    border: 1px solid #e6e6e6;
    outline: none;
    border-radius: 5px 0 0 5px;
}

.typing-area input:focus{
    box-shadow:  inset 0 0px 2px 2px rgb(0 0 0 / 3%);
}

.typing-area button {
    color: #fff;
    width: 55px;
    height: 45px;
    border: none;
    outline: none;
    background: var(--main-color);
    font-size: 20px;
    opacity: 0.8;
    border-radius: 0 5px 5px 0;
    transition: all 0.3s ease;
}

.typing-area button.active {
    opacity: 1;
    cursor: pointer;
}

@media(max-width: 1200px) {
    .chat-area {
        padding: 0;
    }
    .chat-area header .back-icon {
        right: 20px;
    }
    .chat-box .incoming .details,
    .chat-box .outgoing .details {
        max-width: calc(100% - 130px);
    }
}
@media(max-width: 1000px) {
    .chat-box .incoming .details,
    .chat-box .outgoing .details {
        max-width: calc(100% - 50px);
    }
    .user-box {
        display: none;
    }
    .msg-cntr .hr-group {
        justify-content: center;
    }
    .msg-cntr .box {
        max-width: 450px;
        min-width: 300px;
    }
    .msg-box {
        min-width: 300px;
        width: 100%;
        max-width: 100%;
    }
}